<!DOCTYPE html>
<html>
  <head>
    <title>Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Model Reporting</h1>
      <h1></h1>
      <h4><a href="/prediction">/prediction</a> - Prediction Endpoint</h4>
      <h4><a href="/scoring">/scoring</a> - Scoring Endpoint</h4>
      <h4><a href="/summarystats">/summarystats</a> - Summary Statistics Endpoint</h4>
      <h4><a href="/diagnostics">/diagnostics</a> - Diagnostics Endpoint</h4>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>